mixin show-cards(type, click)
	- items = ['{{card.symbol}}','{{card.id}}']
	- items.push(type + '-card')
	- repeat = 'card in currentPlayer.deck.' + type + 'Cards track by card.id'
	- repeat = type == 'recruit' ? 'card in journal | limitTo: 5' : repeat
	- click = click ? click + '(card)' : ''
	.cards
		.card-img(ng-repeat=repeat class=items.join(' ') ng-click=click title='{{card.name}}: {{card.description}}')
			.card-info
				span.strength {{card.strength}}
				i.sprite.symbol(class='{{card.symbol}}')
			.card-name {{card.name}}

mixin view-card()
	.card-img(class='{{card.symbol}} {{card.id}} held-card' title='{{card.name}}: {{card.description}}')
		.card-info
			span.strength {{card.strength}}
			i.sprite.symbol(class='{{card.symbol}}')
		.card-name {{card.name}}

mixin show-small-cards(type, person)
	- items = ['{{card.symbol}}','{{card.id}}']
	- items.push(type + '-card')
	- repeat = 'card in ' + person + '.deck.' + type + 'Cards track by card.id'
	.cards
		.card-img.small(ng-repeat=repeat class=items.join(' ') ng-click='viewCard(card)' title='{{card.name}}: {{card.description}}')
			.card-info
				span.strength.small {{card.strength}}
				i.sprite.symbol.small(class='{{card.symbol}}')

mixin active-card()
	.held-card.card-img(class='{{currentPlayer.deck.activeCard.symbol}} {{currentPlayer.deck.activeCard.id}}' title='{{currentPlayer.deck.activeCard.name}}: {{currentPlayer.deck.activeCard.description}}')
		.card-info
			span.strength {{currentPlayer.deck.activeCard.strength}}
			i.sprite.symbol(class='{{currentPlayer.deck.activeCard.symbol}}')
		.card-name {{currentPlayer.deck.activeCard.name}}
	h3 Card-Abilities
	ul.abilities
		li.ability(ng-repeat='ability in currentPlayer.deck.activeCard.abilities track by $index' ng-click='useAbility($index)')
			p Cost: {{ability.cost}}
			p Benefit: {{ability.benefit}}

mixin recruit-card()
	h3 New Recruit:
	.held-card.card-img(class='{{recruitCard.symbol}} {{recruitCard.id}}' title='{{recruitCard.name}}: {{recruitCard.description}}')
		.card-info
			span.strength {{recruitCard.strength}}
			i.sprite.symbol(class='{{recruitCard.symbol}}')
		.card-name {{recruitCard.name}}