mixin show-cards(type, click)
	- items = ['{{card.symbol}}','{{card.id}}', 'strength-{{card.strength}}']
	- items.push(type == 'held' ? '{{userTurn() ? "" : "support"}}' : '')
	- items.push(type + '-card')
	- repeat = 'card in currentPlayer.deck.' + type + 'Cards track by card.id'
	- repeat = type == 'recruit' ? 'card in journal | limitTo: 5' : repeat
	- repeat = click == 'useFaceUpAbility' ? 'card in getFaceUpPlayedCards()' : repeat
	- click = click ? click + '(card)' : ''
	.cards
		.card-img(ng-repeat=repeat class=items.join(' ') ng-click=click title='{{userTurn() ? card.name + ": " + card.description : ""}}')

mixin show-small-cards(type, person)
	- items = ['{{card.symbol}}','{{card.id}}','strength-{{card.strength}}']
	- items.push(person == 'player' ? '{{card.support ? "support" : ""}}' : 'played')
	- items.push(type + '-card')
	- repeat = 'card in ' + person + '.deck.' + type + 'Cards track by card.id'
	- title = person == 'player' ? '{{card.support ? "" : card.name + ": " + card.description}}' : '{{card.name}}: {{card.description}}'
	- click = person == 'player' ? 'card.support ? "" : viewCard(card)' : 'viewCard(card)'
	.cards
		.card-img.small(ng-repeat=repeat class=items.join(' ') ng-click=click title=title)

mixin active-card()
	.support-section.held-card.card-img.support(class='{{currentPlayer.deck.activeStrengthCard.symbol}} {{currentPlayer.deck.activeStrengthCard.id}} strength-{{currentPlayer.deck.activeStrengthCard.strength}}')
		.item(ng-repeat='t in [].constructor(currentPlayer.playStrength - currentPlayer.deck.activeStrengthCard.strength) track by $index' title='indian')
			i.sprite.indian
	.held-card.card-img.relative(class='{{currentPlayer.deck.activeCard.symbol}} {{currentPlayer.deck.activeCard.id}}' title='{{currentPlayer.deck.activeCard.name}}: {{currentPlayer.deck.activeCard.description}}' ng-click='viewCard(currentPlayer.deck.activeCard)')
	h3 Card-Abilities
	.abilities
		.ability(ng-repeat='ability in currentPlayer.deck.activeCard.abilities track by $index' ng-click='useAbility($index, ability)')
			p {{ability.short}}

mixin ability-card()
	.held-card.card-img(class='{{special.abilityCard.symbol}} {{special.abilityCard.id}}' title='{{special.abilityCard.name}}: {{special.abilityCard.description}}' ng-click='viewCard(special.abilityCard)')
	h3 Card-Abilities
	.abilities
		.ability(ng-repeat='ability in special.abilityCard.abilities track by $index' ng-click='useFaceUpCardAbility($index, ability)')
			p {{ability.short}}

mixin recruit-card()
	h3 New Recruit:
	.held-card.card-img(class='{{recruitCard.symbol}} {{recruitCard.id}}' title='{{recruitCard.name}}: {{recruitCard.description}}')
	.div &nbsp;